*{margin:0; padding:0;}
html,  

.nav{
    display: flex;
    justify-content: space-around;
    background-color: #ccae62;
  /*text-align: right;*/
  padding:20px;
  opacity: 70%; 
  

}
a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #576574;
    padding: 15px;
}
  
.nav-item{
  display:inline;
  padding: 15px;

}
/* Nav bar end*/
footer{

  height: 100px;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 10px;
  color:white;

}
.footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.footer_content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 10px;
  font-size: 19px;
text-decoration: none;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
margin:20px;
}

.footer-bottom{
  background: #000;

}

/* Extra small devices (phones, 390px and down) */
@media only screen and (max-width: 390px) {
  .nav-item {
    padding:0px;
    font-size: xx-small;
  }
  .nav {
    width: 460px;
  }
  .opacity {
    width: 500px;
   }
   div {
     width: 350px;
   }
   p {
     font-size: small;
   }
   .text2 {
     color:black;
   }
}







