*{margin:0; padding:0;}
html,

.nav{
    display: flex;
    justify-content: space-around;
    background-color: #ccae62;
  /*text-align: right;*/
  padding:20px;
  opacity: 70%; 
  

}
a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #576574;
    padding: 15px;
}
  
.nav-item{
  display:inline;
  padding: 15px;

}
/* Nav bar end*/

body{
  background-color: #ffeaa7;
  height: 100%;
  width: 100%;
}

.button hover {
  box-shadow: 0px 2px 2px #222F3E;
    color:whitesmoke;

}
.button{
  background-color: #74b9ff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    }
  
    .toyitem{
      display: block;
      width: 23%;
      flex-basis: 33.33%;
  }
  
  .toyitem img{
      height: 250px;
      width: auto;
      border-radius:25px;
      padding: 8px;
      
    }
  
  p{
    display: flex;
    align-content: center;
  }

   @media screen and (max-width: 390px) {
    .toyitem img{
      height:100px;
        width:75px;
        padding: 7px;
        flex-direction: row-reverse;
        
    }
    p {
      height: fit-content;
      font-size: 8px;
     
      width: fit-content;
  
    }}
 

@media screen and (max-width: 810px){
  .toyitem img{
    height:250px;
      width:230px;
      padding: 7px;
      flex-direction: row-reverse;
      
  }
  p {
    height: fit-content;
    font-size: 20px;
   
    width: fit-content;

  }}

}
  
  
  /* .toyitem img{ 
     height:100px;
      width:75px;
      padding: 7px;
      flex-direction: row-reverse;
      
  }
  p {
    height: fit-content;
    font-size: 8px;
   
    width: fit-content;

  }

  body{
    width: auto;
   
    
  }
} */
 /* media for tablet  */